// Externals resources

    @font-face {
      font-family: 'Bebas Neue';
      src: url(assets/fonts/logo2fonts/02-bebasneue-regular.ttf);
      font-style: normal;
      font-weight: normal;
    }

      @font-face {
      font-family: 'DreamCatcher';
      src: url(assets/fonts/logo2fonts/01-dream-catcher.ttf);
      font-style: normal;
      font-weight: normal;
    }

      @font-face {
      font-family: 'Butler';
      src: url(assets/fonts/Butler/Butler_Regular.otf);
      font-style: normal;
      font-weight: normal;
    }
      @font-face {
      font-family: 'Butler';
      src: url(assets/fonts/Butler/Butler_Bold.otf);
      font-style: normal;
      font-weight: bold;
    }
      @font-face {
      font-family: 'Butler';
      src: url(assets/fonts/Butler/Butler_ExtraBold.otf);
      font-style: normal;
      font-weight: bolder;
    }
  @font-face {
      font-family: 'Butler';
      src: url(assets/fonts/Butler/Butler_Light.otf);
      font-style: normal;
      font-weight: lighter;
    }
 @font-face {
      font-family: 'Butler Stencil';
      src: url(assets/fonts/Butler_Stencil/Butler_Regular_Stencil.otf);
      font-style: normal;
      font-weight: normal;
    }
 @font-face {
      font-family: 'Butler Stencil';
      src: url(assets/fonts/Butler_Stencil/Butler_Bold_Stencil.otf);
      font-style: normal;
      font-weight: bold;
    }
     @font-face {
      font-family: 'Butler Stencil';
      src: url(assets/fonts/Butler_Stencil/Butler_ExtraBold_Stencil.otf);
      font-style: normal;
      font-weight: bolder;
    }

  @font-face {
      font-family: 'Butler Stencil';
      src: url(assets/fonts/Butler_Stencil/Butler_Light_Stencil.otf);
      font-style: normal;
      font-weight: lighter;
    }
@font-face {
      font-family: 'Jost';
      src: url(assets/fonts/jost/Jost-Bold.ttf);
      font-style: normal;
      font-weight: bold;
    }
@font-face {
      font-family: 'Jost';
      src: url(assets/fonts/jost/Jost-BoldItalic.ttf);
      font-style: italic;
      font-weight: bold;
    }
@font-face {
      font-family: 'Jost';
      src: url(assets/fonts/jost/Jost-Light.ttf);
      font-style: normal;
      font-weight: lighter;
    }

@font-face {
      font-family: 'Jost';
      src: url(assets/fonts/jost/Jost-LightItalic.ttf);
      font-style: italic;
      font-weight: lighter;
    }

@font-face {
      font-family: 'Jost';
      src: url(assets/fonts/jost/Jost-Medium.ttf);
      font-style: normal;
      font-weight: normal;
    }

@font-face {
      font-family: 'Jost';
      src: url(assets/fonts/jost/Jost-MediumItalic.ttf);
      font-style: italic;
      font-weight: normal;
    }
  @font-face {
      font-family: 'DreamCatcher';
      src: url(assets/fonts/logo2fonts/01-dream-catcher.ttf);
      font-style: normal;
      font-weight: normal;
    }

  @font-face {
      font-family: 'Bebas Neue';
      src: url(assets/fonts/logo2fonts/02-bebasneue-regular.ttf);
      font-style: normal;
      font-weight: normal;
    }



